.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cta-mobile {
    display: block;
    font-size: 0.8rem;
    font-weight: normal;
    a {
      background: $secondary;
      color: $primary;
      border-radius: 4px;
      padding: 6px 12px;
      text-decoration: none;
      &:hover {
        background-color: lighten($secondary, 10%);
        text-decoration: none;
      }
    }
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
